<!DOCTYPE html>
<html>
  <head>
    <title>Exportator</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
	<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

	<!-- CDN scripts, uncomment to get the home/html page to work almost properly -->
	<!-- 
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.5/moment.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.5/daterangepicker.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jvectormap/2.0.5/jquery-jvectormap.css"></script>
	<script src="https://cdn.jsdelivr.net/npm/jvectormap-next@3.1.1/jquery-jvectormap.min.js"></script>
	<script src="https://jvectormap.com/js/jquery-jvectormap-world-mill.js"></script>
	 -->

  </head>

  <div class="wrapper">
    <div class="content-page">
      <div class="content">
        <%= yield %>
      </div>
	</div>
	<%= yield :extra_script %>
  </div>

</html>
